.center {
    display: flex;
    justify-content: center;
  }
img {
  border-radius: 50%;
}
#manage-tasks-btn{
  background-color: #1976d2;
  // border: none;
  border-color: white;
  color: white;
  size: 150%;
}
