<span>Congratulations, {{name}} !! You are now signed in ! &nbsp;&nbsp;&nbsp;&nbsp; </span> <span><button type="submit"
        color="primary" id="sign-out-btn" (click)="signOut()">Sign out</button></span>
<form class="example-form">
    <div class="center">
        <img src={{imagePath}} alt="Display pic" wclass="center" width="100" height="100" />
    </div>
    <div style="margin-left: 25%;">
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" [(ngModel)]="name" name="name" readonly>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="phone" [(ngModel)]="phone" name="phone" readonly>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [(ngModel)]="email" name="email" readonly>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Bio</mat-label>
                <input matInput placeholder="Bio" [(ngModel)]="bio" name="bio" readonly>
            </mat-form-field>
        </div>
    </div>
</form>
<div>
</div>
<div style="margin-top: 5%;" class="center">
    <h3> Want to update details? <span class="sign-up-button">
            <button type="submit" color="primary" id="sign-up-btn" routerLink="./update">Update</button>
        </span></h3>
</div>
<div class="center"> 
    <span class="pure-button pure-button-primary">
        <button type="submit" color="primary" id="manage-tasks-btn" routerLink="/manage-tasks/{{name}}">Manage Tasks</button>
    </span> 
    <div class="center">
        <span>
            <button type="submit" color="primary" id="add-new-task" routerLink="/add-tasks/{{name}}">Add New Task</button>
        </span> 
    </div>
</div>