table {
    width: 100%;
}

#complete-tasks-btn {
    background-color: #1976d2;
    // border: none;
    size: 150%;
    margin-top: 5%;
    margin-left: 35%;
    border-color: white;
    color: white;

}

#remove-tasks-btn {
    background-color: #1976d2;
    // border: none;
    size: 150%;
    margin-top: 5%;
    margin-left: 35%;
    border-color: white;
    color: white;

}

#add-new-task {
    background-color: #1976d2;
    margin-top: 5%;
    margin-bottom: 5%;
    border-color: white;
    color: white;

}