table {
    width: 100%;
}

#complete-tasks-btn {
    background-color: #1976d2;
    // border: none;
    size: 150%;
    margin-top: 10%;
    margin-left: 35%;
    margin-bottom: 10%;

}

#remove-tasks-btn {
    background-color: #1976d2;
    // border: none;
    size: 150%;
    margin-top: 10%;
    margin-left: 35%;
    margin-bottom: 10%;

}