mat-grid-tile {
    background: lightblue;
  }

#grid-div {
    width: 325%;
    margin-left: -110%;
    margin-top: 10%;
}

#add-photo-btn{
  background-color: #1976d2;
  // border: none;
  border-color: white;
  color: white;
  size: 200%;
}