.facebookLogoImg{
    width:9%;
    height:9%;
}
.googleLogoImg{
    width:9%;
    height:9%;
}
.signInBtnGoogle{
    width: 30%;
    margin-top:5%;
    margin-left:35%;
    margin-right:5%;
    border-radius: 10px;
    color:black;
    text-align: left;
    padding-left:5%;
}
.signInBtnFacebook{
    width: 30%;
    margin-top:5%;
    margin-left:35%;
    margin-right:5%;
    margin-bottom: 10%;
    border-radius: 10px;
    color:black;
    text-align: left;
    padding-left:5%;
}
#error{
    color: red;
}