<form class="example-form" (ngSubmit)="update()">
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" value="" [(ngModel)]="name" name="name">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="phone" value="" [(ngModel)]="phone" name="phone">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" value="" [(ngModel)]="email" name="email">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Bio</mat-label>
            <input matInput placeholder="Bio" value="" [(ngModel)]="bio" name="bio">
        </mat-form-field>
    </div>
    <div>
        <span class="update-details-btn" style="margin-left: 30%">
            <button type="submit" color="primary" id="update-details-btn">Update</button>
        </span>
    </div>
</form>